<div id="logo">
    <center>
        <img src="bovine.png">
    </center>
</div>
<div id="title" align=center>
    <p>
        <h3>Building Operational Visibility Into (n) Environments</h3>
    </p>
</div>
<div>
    BOVI(n)E is an AWS multi-account visibility tool built entirely leveraging AWS services. No servers are used to provide this
    visibility. Services in use are API Gateway, Lambda, Cognito, and DynamoDB. All data is pulled real time using AWS APIs.
    <div align=center>
    <p>
        Got questions? Suggestions? Ideas?
        <a href="mailto:security@chick-fil-a.com">Contact us!</a>
    </p>
    </div>
</div>