<h1>
 <div style="float">
	 <div style="float:left;padding:10px 0 0 0">
		 Security Groups<small ng-if="!loading"> (Total: {{(securitygroups | filter:searchKeyword).length}})</small>
	 </div>
  <div style="padding:0 0 10px 0;float:right;width:400px" >
        <span class="col-md-1" style="font-weight:bold;width=20px"><small>Search</small></span>
        <span class="col-md-3" style="width:380px">
         <input type="text" class="form-control" ng-model="searchKeyword"/>
        </span>
  </div>
 </div>
</h1>
<div class="loader" ng-if="loading">Loading...</div>
<table class="table table-hover" ng-if="!loading">
    <thead>
        <tr>
	    <th>Group Name</th>
	    <th>Group Id</th>
	    <th>Region</th>
	    <th>AccountAlias</th>	    
    	    <th>AccountNum</th>	    
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sg in securitygroups | filter: searchKeyword | orderBy: 'GroupId'" ng-click="visitSecurityGroup(sg.AccountNum, sg.Region, sg.GroupId)">
		<td>{{sg.GroupName}}</td>
		<td>{{sg.GroupId}}</td>
		<td>{{sg.Region}}</td>
		<td>{{sg.AccountAlias}}</td>
		<td>{{sg.AccountNum}}</td>
        </tr>
    </tbody>
</table>
